:root {
    --primary-color: rgb(138, 154, 91);
    --secondary-color: rgb(234, 248, 200);
    --background-color:  rgb(255, 255, 255);
}

.dark-theme {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(60, 60, 60);
    --background-color:  rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1, h2, h3 {
    color: var(--primary-color);
}

p {
    color: var(--primary-color);
}



 nav, main, footer, main div {
    background: var(--background-color);
}

footer {
    padding: 20px 0 10px;
    font-size: x-small;
    letter-spacing: 2px;
}