.my-game {
    padding: 20px;
    margin: 20px 20px 50px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

#gameContainer{
    width: 500px;
    height: 250px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    border: 5px solid var(--primary-color);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#coverImage {
    width: 100%;
    position: absolute;
    top: -70px;
    left: 0;
    z-index: 3;
    transition: 0.5s;   
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.layer:hover {
    background:rgb(187, 187, 187, 0.45);
}

.layer h3 {
    width: 1005;
    font-weight: bold;
    color: white;
    font-size: large;
    bottom: 0;
    left: 42%;
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

.layer:hover h3 {
    opacity: 1;
    bottom: 30%;
}

#startText{
    color: rgb(237, 206, 0);
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    top: 19px;
    left: -500px;
    z-index: 3;
}

.button-holder {
    background: transparent;
    display: flex;
    align-items: center;
    display: none;
}

.gameBtn {
    width: 140px;
    height: 140px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    border: 4px solid var(--primary-color);
    background: var(--background-color);
    border-radius: 100px;
    color: rgb(237, 206, 0);
    font-weight: bold;
    font-size: 80px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
}

.gameBtn span {
    background: var(--primary-color);
    height: 100%;
    width: 0;
    border-radius: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.gameBtn:hover span{
    width: 100%;
}

.gameBtn:hover {
    border: none;
}

.vs {
    width: 100%;
    background: transparent;
}


#playerDisplay{
    color: var(--primary-color);
    font-size: 59px;
    display: none;

}

#computerDisplay{
    color: rgb(0, 0, 0);
    font-size: 59px;
    display: none;
}

#resultDisplay{
    color: rgb(237, 206, 0);
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    position: absolute;
    top: 60px;
    right: -500px;
    white-space: nowrap;
}

#restartIcon {
    width: 45px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width:700px) {
    #gameContainer {
        width: 340px;
    }
    #coverImage {
        left: -30px;
        top: -30px;
        width: 120%;
    }
    .layer h3 {
        left: 38%;
    }
    .gameBtn {
        width: 112px;
        margin: 5px;
        height: 112px;
        font-size: 70px;

    }
}