nav {
    background-color: var(--background-color);
    color: var(--background-color);
    position: fixed;
    top: 68px;
    bottom: 0;
    left: 0;
    width: 130px;
    padding-top: 15px;
    font-weight: 400;
}


.sidebar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 130px;
    cursor: pointer;
    white-space: nowrap;
  
}

.sidebar-links:hover {
    background-color: rgb(218, 215, 215);
}

.sidebar-links img {
    width: 40px;
    margin-bottom: 4px;
}

.sidebar-links div {
    font-size: 15px;
}

.nav-links::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--primary-color);
    display: block;
    margin: auto;
    border-radius: 4px;
    transition: 0.15s;
}

.sidebar-links:hover .nav-links::after {
    width: 100%;
}


@media only screen and (max-width:700px) {
    nav {
        display: flex;
        flex-direction: column;
        top: 80px;
        padding-top: 0;
        transition: 0.5s;
        transform: translate(-100%);
        overflow: hidden;
        z-index: 200;
    }
    
    .show-nav {
        transform: translate(0);
    }
}


